/* =============================================================================
   NORMALIZATION
========================================================================== */

* {
    margin: 0;
    padding: 0;
}


ul, ol {
    list-style: none;
}
/* =============================================================================
   COMMONS
========================================================================== */

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
    background-color: black;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: x-small;
    color: #666666;
}


.gridster .gs-w {
    background: #000;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
table {
	border:0;
    width: 100%;
    height: 100%;
}

.name {
	border:0;
    text-align: center;
    width: 20%;
    background-color: black;
    color: white;
    font-size:250%;
}
.gravatar {
	border:0;
    width: 50%;
    background-color:#000;
}
.gravatar img{
    display: block;
    margin-left: auto;
    margin-right: auto; 
}
.points {
	border:0;
    width: 20%;
    text-align: center;
    font-weight: bold;
    font-size:200%;
	background-color:black;
	color:white;
}

li {
	background-color:black;
}
