/* =============================================================================
   NORMALIZATION
========================================================================== */

* {
    margin: 0;
    padding: 0;
}


ul, ol {
    list-style: none;
}
/* =============================================================================
   COMMONS
========================================================================== */


body {
    background-color: #EEEEEE;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: x-small;
    color: #666666;
}

div {
	font-family: 'Fjalla One', Arial, sans-serif;
	font-size: 20px;
}

.playerlist {
	width: 740px;
	padding: 10px;
	margin: 25px;
	margin-top: 0px;
}
.player {
}
.box {
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.7);
	zoom: 1;
	filter: alpha(opacity=70);
	opacity: 0.7;
	border: 1px solid black;
	margin-bottom: 5px;
	margin-right: 5px;
	height: 55px;
}
.player div {
	padding: 6px;
	float: left;
	color: #FFFFCC;
	opacity: 1;
	filter: alpha(opacity=100);
}

.player .headshot {
	padding: 0;
}
.player .headshot img {
	width: 55px;
	height: 55px;
}
.player .details {
	width: 370px;
	margin-top: 3px;
	margin-left: 5px;
}
.player .details.wide {
	width: 440px;
}
.player .name {
	width: 300px;
	text-align: left;
	clear: both;
	padding: 0;
}

body, #divWrap {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #999;
}
.player .status {
	font-size: 11px;
	padding: 0;
	clear: both;
}
