!!! 5
html
  head
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js")
    script(src="/socket.io/socket.io.js")
    script
      var socket = io.connect()
      socket.on('message', function(msg){
        $("#messages").append("<li>"+msg+"</li>");
      })
  body
    h1 Callback Testing
    ul#messages
