<!DOCTYPE html>
<html></html>
<head>
  <!--<script src="/socket.io/socket.io.js"></script>-->
  <link rel="stylesheet" type="text/css" href="../js/jquery.gridster.min.css">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <script type="text/javascript" src="../js/jquery-2.1.0.min.js"></script>
  <script type="text/javascript" src="../js/jquery.gridster.min.js"></script>
  <script>
    $(function(){
    $(".gridster ul").gridster({
    widget_margins: [10, 10],
    widget_base_dimensions: [140, 140]
    });
    });
	$(function(){
	var gridster = $(".gridster ul").gridster().data('gridster');
    gridster.disable();
	gridster.add_widget('<li class="new"><table><tr><th scope="col" class="name">Bob</th></tr><tr><td class="gravatar"><img src="http://www.gravatar.com/avatar/2ef4fa6260d1ff9d4c143a7bc89b6992?s=200"></img></td></tr><tr><td class="points">12</td></tr</table></li>', 2, 2,1,1);});
    //var socket = io.connect()
//    socket.on('message', function(msg){
//    var gridster = $(".gridster ul").gridster().data('gridster');
//    gridster.disable();
//    gridster.remove_all_widgets();
//    for(i=0;i<Object.keys(msg).length;++i)
//    {
//      gridster.add_widget('<li class="new"><table><tr><th scope="col" class="name">'+msg[i]['name']+'</th></tr><tr><td class="gravatar"><img src='+msg[i]['gravUrl']+'></img></td></tr><tr><td class="points">'+msg[i]['points']+'</td></tr</table></li>', 2, 2,1,1);
//    }
//    })
  </script>
  <style></style>
</head>
<body style="background-color: #999;">
  <h1 align="center">Leaderboard</h1>
  <div class="gridster">
    <ul></ul>
  </div>
  <ul id="messages"></ul>
</body>