<!DOCTYPE html>
<html></html>
<head>
  <!--<script src="/socket.io/socket.io.js"></script>-->
  <link rel="stylesheet" type="text/css" href="../js/jquery.gridster.min.css">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <script type="text/javascript" src="../js/jquery-2.1.0.min.js"></script>
  <script type="text/javascript" src="../js/jquery.gridster.min.js"></script>
  <script>
    $(function(){
    $(".gridster ul").gridster({
    widget_base_dimensions: [160, 63],
	widget_margins: [0,0]
    });
    });
	$(function(){
	var gridster = $(".gridster ul").gridster().data('gridster');
    gridster.disable();
	gridster.add_widget('<li class="new"><table><tr><td class="rank">2</td><td scope="col" class="name">Bob</td><td class="gravatar"><img src="http://www.gravatar.com/avatar/2ef4fa6260d1ff9d4c143a7bc89b6992?s=120"></img></td><td class="points">10</td></tr</table></li>', 2, 2,1,1);
	gridster.add_widget('<li class="new"><table><tr><td class="rank">1</td><td scope="col" class="name">Davy</td><td class="gravatar"><img src="http://pbs.twimg.com/profile_images/2995199005/cf85f85dabfceb62bbe46b378021b593_bigger.jpeg"></img></td><td class="points">12</td></tr</table></li>', 2, 2,1,1);});
    //var socket = io.connect()
//    socket.on('message', function(msg){
//    var gridster = $(".gridster ul").gridster().data('gridster');
//    gridster.disable();
//    gridster.remove_all_widgets();
//	  msg.sort(function (a, b) {
//      if (a['points'] > b['points'])
//        return 1;
//      if (a['points'] < b['points'])
//        return -1;
        // a must be equal to b
//      return 0;
//    });
//    for(i=0;i<Object.keys(msg).length;++i)
//    {
//      gridster.add_widget('<li class="new"><table><tr><th scope="col" class="name">'+msg[i]['name']+'</th></tr><tr><td class="gravatar"><img src='+msg[i]['gravUrl']+'></img></td></tr><tr><td class="points">'+msg[i]['points']+'</td></tr</table></li>', 2, 2,1,1);
//    }
//    })
  </script>
  <style></style>
</head>
<body style="background-color: #999;">
  <h1 align="center">Leaderboard</h1>
  <div class="gridster">
    <ul></ul>
  </div>
  <ul id="messages"></ul>
</body>