doctype html
html
 head
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Rancho&effect=fire-animation')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Rancho&effect=ice')
    link(rel='stylesheet', type='text/css', href='/js/jquery.gridster.min.css')
    link(rel='stylesheet', type='text/css', href='/css/style.css')
    script(type='text/javascript', src='/js/jquery-2.1.0.min.js')
    script(type='text/javascript', src='/js/jquery.gridster.min.js')
    script(type='text/javascript', src='/js/lodash.min.js')
    script(src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/js/script.js')
      
      
 body(style='background-color: #999;')
    h1(align='center') Leaderboard
    div(class='last')
     p(style='color: #FF0000; margin-left:5px')  last failed build:
      div(id="failed")
    .gridster
     ul