/* =============================================================================
   NORMALIZATION
========================================================================== */

* {
    margin: 0;
    padding: 0;
}


ul, ol {
    list-style: none;
    margin: auto 0 !important;
    padding: 0 !important;
}

/* =============================================================================
   COMMONS
========================================================================== */


body {
    background-color: #EEEEEE;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: x-small;
    color: #666666;
}

div {
	font-family: 'Fjalla One', Arial, sans-serif;
	font-size: 20px;
}
.gridster .ready {
    float: left;
    margin:auto 0 ;
    padding:0;
}
.playerlist {
	width: 29em !important;
	padding: 10px !important;
	margin: 25px !important;
	margin-top: 0 !important;
}


.player div {
	padding: 6px;
	float: left;
	color: #FFFFCC;
	opacity: 1;
	filter: alpha(opacity=100);
}

.player .headshot {
	padding: 0;
}
.player .headshot img {
	width: 2.8em;
}
.player .details {
	width: 25em;
	margin-top: 3px;
	margin-left: 5px;
}
.player .details.wide {
	width: 20em;
}
.player .name {
	overflow: auto;
	text-align: left;
	clear: both;
	padding: 0;
}

.player .status {
	font-size: 11px;
	padding: 0;
	clear: both;
}
.box {
	background-color: rgba(0,0,0,0.7);
	zoom: 1;
	filter: alpha(opacity=70);
	opacity: 0.7;
	border: 1px solid black;
	margin-bottom: 5px !important;
	margin-right: 5px !important;
	height: 2.9em;
}
.box.red {
	background-color: rgb(204,0,0);
	background-color: rgba(204,0,0,0.7);
	border: 1px solid #cc0000;
}
.last {
    float: left;
    border:1px solid black; 
    margin:0; 
    width:11em;
    top: 8.5%;
    border-radius:5px;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
}
.badge {
	float: left;
	overflow: hidden;
}
.det{
	float:left;
}
.badgeimg img {
    width: 56px;
}
.badgeimg {
    padding: 0 !important;
    position: relative;
    top: -0.5em;
    left: 1em;

}
